*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #12CB9E;
}
header{
    display: block;
}
.left{
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: #0C0E0D;
    color: #fff;
    /* min-height: 100vh; */
    width: 200px;
    height: 100vh;
    padding: 15px;
    text-align: center;
}
.sag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo{
    width: 150px;
}
.logo{
    margin-bottom: 25px;
}

#music,#genre,#record,#playlist,#heart,#pod{
    width: 150px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}
#heart [class^= fa]{
    margin-right: 8px;
}
#playlist [class^= fa]{
   margin-right: 5px;
}
.flex-icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info-init{
    display: block;
    width: 100%;
    overflow: hidden;
    background: rgba(77, 77, 77, 0.212);
}
.info-init p{
    width: 150px;
    font-size: 16px;
    text-align: left;
}
#dice{
    font-size: 20px;
}


/* Chris's Styles */
main {
    display: flex;
    width: 100vw;

}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.searchDiv{
    height: 75px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.toggle {
    margin-bottom: 15px;  
    border-radius: 50px;
    background-color: #151414;
    width: 85px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-button {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}

#toggle-icon {
    color: white;
    border: 1px solid red;
    width: 20px;
    height: 20px;

}

.search-bar {
    margin-bottom: 15px;  
    padding-left: 50px;
    border-radius: 50px;
    background-color: #151414;
    width: 500px;
    height: 40px;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search-icon {
    color: white;
}
.user {
    margin-bottom: 15px;  
    border-radius: 50px;
    background-color: #151414;
    width:150px;
    height: 40px;
    padding-left: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile{
    width: 40px;
    height: 40px;
    background-color: #12CB9E;
    border: px solid #12CB9E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}

#user {
    color: white;
}

/** bottom div **/
footer{
    width: 100vw;
    height: 100px;
    position: fixed; bottom: 0; 
    background-color: #000;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0;
    
}

.companyLogo {
    width: 200px;
    height: 70px;
    /* border-radius: 50px; */
    background-color:#151414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.songInfo {
    width: 500px;
    height: 50px;
    padding: 20px;
    border-radius: 50px;
    background-color: #151414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Lyrics {
    color: #707070;
}

.controls {
    width: 200px;
    height: 50px;
    /* background-color: #151414; */
    border-radius: 50px;
    border: 1px solid #12CB9E;
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
}