*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #12CB9E;
}
header{
    display: block;
}
.left{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    color: #fff;
    min-height: 100vh;
    padding: 15px;
    text-align: center;
}
.sag{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#logo{
    width: 100px;
}
.logo{
    margin-bottom: 25px;
}

#music,#genre,#record,#playlist,#heart,#pod{
    margin-bottom: 15px;
    position: relative;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}
#heart [class^= fa]{
    margin-right: 8px;
}
#playlist [class^= fa]{
   margin-right: 5px;
}
.flex-icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.info-init{
    display: block;
    width: 100%;
    overflow: hidden;
    background: rgba(77, 77, 77, 0.212);
}
.info-init p{
    width: 150px;
    font-size: 16px;
    text-align: left;
}
#dice{
    font-size: 20px;
}